/* 

colors

blue: #24305e
off-white: #f6eee3
red: #c50058 
yellow: #ffdf00

*/

/*menu bar
ไฟล์ที่เป็น id # ต้องไว้ก่อน class . */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu {
    background: transparent;
    margin-top: 30px;
    margin-bottom: 30px;
    width: max-content;
    border-bottom: 3px solid #24305e;
    font-family: Raleway, sans-serif;
    line-height: 1;
}
#cssmenu ul {
    background: transparent;
}
#cssmenu > ul > li {
    float: left;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu.align-right > ul > li > a {
    margin-right: 0;
    margin-left: -4px;
}
#cssmenu > ul > li > a {
    z-index: 2;
    padding: 18px 25px 12px 25px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #444444;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
    color: #ffffff;
}
#cssmenu > ul > li > a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 97%;
    height: 120%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "";
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: perspective(5px) rotateX(2deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(5px) rotateX(2deg);
    -moz-transform-origin: bottom;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
    background: #24305e;
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image : url("bg.jpg");   /*ที่อยู่ของรูปภาพ*/
       background-repeat : no-repeat;         /*//กำหนดให้แสดงเพียงภาพเดียว*/
       background-position :  top left;          /*//จัดตำแหน่งของรูปภาพ*/
    background-attachment: fixed;         /*กำหนดตรึงภาพ เพื่อไม่ให้ภาพเลื่อนตามสกอลบาร์*/
    margin: 0;
    line-height: 0.5;
    color: #24305e;
    /*  background: #ffdf00;*/
    font-family: 'Mitr', sans-serif;
}

/* fonts */

h1 {
    font-weight: normal;

    font-size: 2.15em;
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 34px;
}

h2, button {
    font-variant: small-caps;
    font-weight: normal;
    font-size: 1.24em;
    font-weight: 900;
    letter-spacing: 1px;
    color: #24305e;
}

h3, a {
    font-family: 'Mitr', sans-serif;
    font-variant: small-caps;
    font-size: .9em;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 0;
    margin-bottom: 4px;
}

/*/LOGO/*/
.logo {
    text-align: center;
    margin-bottom: 0px;
   }

/*/NAV BAR LOGIN RESIDTER/*/
/* Add a black background color to the top navigation */
.topnav {
  margin-top: 10px;
  background-color: transparent;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #24305e;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#24305e;
  border-radius: 30px;
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

/* form */
.form {
    max-width: 600px;
    min-width: 490px;
    position: absolute;
    padding-right: 54px;
    padding-left: 54px;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 5px;
    background: #fff;
    border: 2px solid #24305e;
    box-shadow: 8px 8px 0px 0px #24305e;
    margin-bottom: 100px;

}

.formPattern{
    max-width: 600px;
    min-width: 490px;
    width: 80%;
    height: 900px;
    position: absolute;
    padding: 50px;
    padding-right: 54px;
    top: 320px;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 5px;
    background: #fff;
    border: 2px solid #24305e;
    box-shadow: 8px 8px 0px 0px #24305e;
    margin-bottom: 100px;
}

.sign-in-form {
    opacity: 1;
    float: left;
    width: 100%;
}

.sign-up-form {
    opacity: 1;
    float: left;
    margin-top: -373px;
}

.sign-in-container {
    outline: none;
    cursor: pointer;
    float: left;
}

.sign-up-container {
    cursor: pointer;
    float: right;
}

.header {
    overflow: visible;
    height: 60px;
    /*   margin-bottom: 50px; */
    line-height: .8em;
}

.underline-thick {
    margin-top: 10px;
    width: 60px;
    height: 3px;
    background: #24305e;
}
input[type=radio] {
    border: 0px;
    width: 6%;
    height: 1.3em;
}

input {
    font-family: 'Mitr', sans-serif;
    outline: none;
    background: transparent;
    color: #24305e;
    border: 2px solid #24305e;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 30px;
    font-size: .9em;
    width: 100%;
    height: 2.5em;
}

button {
    font-family: 'Mitr', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #24305e;
    background: #f6eee3;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    transition: transform .2s, box-shadow .2s;
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px 0px 0px #24305e;
    text-align: center;
}

.button-text {
    font-family: 'Mitr', sans-serif;
    margin: 0;
    line-height: 1;
}

button:hover {
    transform: translate(-6px,-6px);
    box-shadow: 6px 6px 0px 0px #24305e;
}

button:active {
    transition-delay:-.15s;
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 0px 0px #24305e;
}

.forgot {
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
}

.forgot:hover {
    color: #5174ad;
}

.underline-thick {
    transition: transform cubic-bezier(.29,.17,.03,1) .4s;
    transform: scale(0,1);
    transform-origin: left;
}

/* animations */

.sign-in-container.selected .underline-thick, .sign-up-container.selected .underline-thick {
    transform: scale(1,1);
}

.sign-in-container:hover h2, .sign-up-container:hover h2 {
    /*   color: #5174ad; */
}

.sign-in-container:hover .underline-thick, .sign-up-container:hover .underline-thick {
    transform: scale(1,1);
    /*   background: #5174ad; */
}


/*calculate price*/



.product-quantity {
    float: left;
    width: 10%;
}
.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
    margin-top: 15px;
    margin-left: 50px;
}

.TableEmploy{
    font-size: larger;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: '';
    display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:after, .product .product-line-price:after, .totals-value:before {
    content: '฿';
}

/* Product entries */
.product {
}
.product .product-quantity input {
    width: 40px;

}

/*select date*/


[type="date"] {   
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 100% 50% no-repeat;
    font-family: 'Mitr', sans-serif;
    width: 33%;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.createorder {
    -webkit-column-count: 1;}


/*-----------------CSS PROFILE-------------------*/
.profile-card {
    position: absolute;
    left: 50%;
    transform: translate(50%,0);
    box-shadow: 8px 8px 0px 0px #24305e;
    margin-bottom: 100px;
    background: #fff; 
    box-shadow: 4px 4px 0px 0px #003489;
    margin-bottom: 100px;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;

}


.profile-card header {
    display: inline;
    border-right: 2px dashed #24305E;
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 0.5s 0.5s forwards;

}
.profile-card header h1 {
    color: #FFFFFF;
}
.profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
}


.profile-card header a:after {
    position: absolute;
    content: "";
    border: 4px solid #FFFFFF;
    -webkit-transform: scale(0);
    background: -webkit-linear-gradient(top, #A8d0a6 0%, #A8d0a6 50%, #F76c6c 50%, #F76c6c 100%);
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: scaleIn 0.3s 0.5s ease forwards;
}
.profile-card header a > img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}
.profile-card header a:hover > img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.profile-card .profile-bio {
    width: 175px;        
    height: 180px;
    display: inline-block;
    padding: 50px 20px 30px 20px;
    background: #FFFFFF;
    color: #333333;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 0.5s 0.5s forwards;
}


@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: 100% auto;
    }
    body:before {
        width: 0px;
    }
    @-webkit-keyframes puff {
        
        100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }	
    }
}
@media screen and (min-height: 480px) {
    .profile-card {
        -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 0.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
        animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 0.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }
    .profile-card header {
        width: auto;
        height: auto;
        padding: 30px 20px;
        display: block;
        border-right: none;
    }
    .profile-card .profile-bio {
        width: auto;
        height: auto;
        padding: 15px 20px 30px 20px;
        display: block;
    }

}

@-webkit-keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }	
}

@-webkit-keyframes puff_portrait {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }	
}

@-webkit-keyframes puff_landscape {
    0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
    }
    100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
    }	
}

@-webkit-keyframes materia_landscape {
    0% {
        background: #24305e;
    }
    50% {
        -webkit-border-radius: 4px;
    }
    100% {
        width: 500px;
        height: 600px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
    }
}

@-webkit-keyframes materia_portrait {
    
    50% {
        -webkit-border-radius: 4px;
    }
    100% {
        width: 600px;
        height: 500px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
    }
}
@-webkit-keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% { 
        opacity: 1;
        margin-top: -20px;
    }	
}

@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(0);
    }
    100% { 
        -webkit-transform: scale(1);
    }	
}

@-webkit-keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0); 
    }
    50%, 100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}

/*จบ CSS PROFILE*/

/*ตำแหน่งปุ่มของหน้าorder_trans*/

.bottonOrder{
    top:40%;
    left:40%;
    margin-top: 30px;
    margin-left:10px;
}

/*-----------------CSS Login-------------------*/

.login {
    -webkit-column-count: 1;}

